<div>
    <div class="flexrow">

    <div style="text-align: center;align-self:center;font-size:120%;max-width: 4em">
        {{#if message.isContentVisible}}
        {{#with (lookup message.rolls 0)}}
        {{this.total}}
        {{/with}}
        {{else}}            
        ??
        {{/if}}
    </div>
    <div>
        {{#with (lookup message.rolls 0)}}
            {{this.formula}}
        {{/with}}
    </div>
</div>

{{#each flavors}}
<div class="flexrow" data-flavor="{{this}}" style="align-items:center;gap:2px">
    <div style="text-align:right">{{this}}</div>
    <button data-action="dec" style="max-width: 4em">-1</button>
    <button data-action="inc" style="max-width: 4em">+1</button>
</div>
{{/each}}

<div class="flexrow">
    <input type="text" name="newname" value="" placeholder="Modifier Name" />
    <button data-action="new">New Modifier</button>
</div>

</div>
